.allrequests_box {
  padding-top: 8%;
  margin-left: 70px;
}

.allrequests_text {
  width: 454px;
  height: 60px;
  left: 77px;
  top: 147px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 53px;
  color: #595959;
}
.card {
  background-color: #f3f3f3 !important;
  border-radius: 12px !important;
  margin-bottom: 30px;
  box-shadow: none !important;
}

.grid {
  color: #838383;
}
.heading {
  color: #838383;
  width: 137px;
  height: 35px;
  font-weight: 700 !important;
  font-size: 19px;
  line-height: 23px;
}
.requests_image {
  height: 409px;
  object-fit: cover;
  width: 396px;
  margin-left: 15% !important;
  margin-top: 20% !important;
}
.details {
  font-size: 12px !important;
}

.status {
  border-radius: 12px !important;
  width: 180px !important;
  height: 30px !important;
  cursor: pointer !important;
  outline: none !important;
  text-transform: none !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  justify-content: center;
    display: flex;
    align-items: center;
}

.declined {
  color: #cc0d0d !important;
  background: #fec1c1 !important;
}
.pending {
    color: #0666BE    !important;
    background: #A6DAFF !important;
  }
.assigned{
    color: #0666BE    !important;
    background: #A6DAFF !important;
}

.status-box{
    margin-top: 15px;
}

.arrow{
    display: flex;
    justify-content: end;
}

.card-content{
    padding-bottom: 12px !important;
}