.stepsBox{
    background: #163c4d;
    border-radius: 20px;
    width: fit-content;
    color: whitesmoke;
    font-size: 14px;
    padding: 4px 10px 4px 10px;
}

.left_box{
    padding-left: 30px;
}

.m0{
    margin: 0px !important;
}

@media screen and (max-width: 500px) {
    .left_box{
        padding-left: 0px;
    }   
}
